.user-profile-container {
  text-align: center;
  padding: 20px;
  width: 80%; /* Use percentage-based width */
  max-width: 800px; /* Maximum width */
  height: auto; /* Allow height to adjust based on content */
  margin: 50px auto; /* Add top and bottom margin */
  background-color: #ccd0db;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-upload-button {
  margin-bottom: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #007acc;
}

.user-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-description {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .user-profile-container {
    width: 90%; /* Increase width for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .user-name {
    font-size: 1.5em; /* Adjust font size */
  }

  .user-description {
    font-size: 1em; /* Adjust font size */
  }
}