
.myNavBar {
    min-height: 100px;
    background-color: #174C66
}

.myFooter {
    height: 100px;
    background-color: #174C66;
}

.App {
    background-color: #174C66;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    color: black;
  }