
.myNavBar {
    min-height: 100px;
    background-color: #174C66
}

.myFooter {
    height: 100px;
    background-color: #174C66;
}

.App {
    background-color: #174C66;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    color: black;
  }
  
  .navbar-brand {
    color: #ccd0db !important;
}

.nav-link {
    color: #ccd0db !important;
}

.footer-text {
    color: #ccd0db !important;
}

.navbar-toggler {
    background-color: #ccd0db !important;
}

.carousel {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}